/* 	FONTS  */
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/* SELECTION STYLE */
::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

/* BODY STYLE */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  	background: url(../images/bg.png) repeat;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	font-weight:300;
	text-align: left;
	text-decoration: none;
}

#id_sidebar {
	float:left;
	width: 280px;
}

/* Logo - Header */
.cs_header_logo {

}

.cs_header_logo #id_header_logo { 
}

.cs_header_logo h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 24px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;	
}

.cs_header_logo p {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}


/*******************
LOGIN FORM
*******************/

.cs_form_login, .cs_form_signin {
	width: 200px;
	margin: 10px 10px 10px 50px;
	position: relative;
	z-index:5;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
LOGIN FORM HEADER
*******************/

.cs_form_login .cs_header_login,  .cs_form_signin .cs_header_signin {
	padding: 10px 10px 10px 10px;
}

.cs_form_login .cs_header_login h1, .cs_form_signin .cs_header_signin h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	line-height:18px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 5px;
}

.cs_form_login .cs_header_login span, .cs_form_signin .cs_header_signin span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
LOGIN and SINGIN FORM CONTENT
*******************/

.cs_form_login .cs_content_login, .cs_form_signin .cs_content_signin {
	padding: 0 15px 10px 25px;
}

/* Input field */
.cs_form_login .cs_content_login .cs_text_usermail,
.cs_form_login .cs_content_login .cs_text_password,
.cs_form_signin .cs_content_signin .cs_text_usermail,
.cs_form_signin .cs_content_signin .cs_text_password {
	width: 135px;
	padding: 10px 10px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.loggedin {
	background: #DDD !important;
}

/* Second input field */
.cs_form_login .cs_content_login .cs_text_password, 
.cs_form_login .cs_content_login .cs_pass_icon {
	margin-top: 5px;
}

.cs_form_login .cs_content_login .cs_text_usermail:hover,
.cs_form_login .cs_content_login .cs_text_password:hover {
	background: #dfe9ec;
	color: #414848;
}

.cs_form_login .cs_content_login .cs_text_usermail:focus,
.cs_form_login .cs_content_login .cs_text_password:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}


.cs_user_icon, .cs_pass_icon {
	width: 36px;
	height: 37px;
	display: block;
	position: absolute;
	left: 50px;
	padding-right: 2px;
	z-index: 3;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.cs_user_icon {
	top:89px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;	
}

.cs_pass_icon {
	top:132px;
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}

/* Animation */
.cs_text_usermail, .cs_text_password, .cs_user_icon, .cs_pass_icon,
.cs_button_login, .cs_button_register, .cs_button_signin_create, .cs_button_signin_cancel {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}


/*******************
LOGIN and SIGNIN FORM FOOTER
*******************/

.cs_form_login .cs_footer_login, 
.cs_form_signin .cs_footer_signin {
	padding: 10px 10px 10px 10px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.cs_form_login .cs_footer_login .cs_button_login,
.cs_form_signin .cs_footer_signin .cs_button_signin_create {
	float:right;
	padding: 10px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.cs_form_signin .cs_footer_signin .cs_button_signin_cancel {
	padding: 10px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #E32727;
	border: 1px solid #C22323;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.cs_form_login .cs_footer_login .cs_button_login:hover, 
.cs_form_signin .cs_footer_signin .cs_button_signin_create:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.cs_form_signin .cs_footer_signin .cs_button_signin_cancel:hover {
	background: #BF2424;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);	
}

.cs_form_login .cs_footer_login .cs_button_login:focus,
.cs_form_signin .cs_footer_signin .cs_button_signin_create:focus{
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.cs_form_login .cs_footer_login .cs_button_register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.cs_form_login .cs_footer_login .cs_button_register:hover {
	color: #3f9db8;
}

.cs_form_login .cs_footer_login .cs_button_register:focus {
	position: relative;
	bottom: -1px;
}

/*******************
FOOTER
*******************/
footer {
	float:none;
}

footer p {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);	
}