/* 	FONTS  */
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/* SELECTION STYLE */
::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

/* BODY STYLE */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  	background: url(../images/bg.png) repeat;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	font-weight:300;
	text-align: left;
	text-decoration: none;
}

#id_sidebar {
	float:left;
	width: 280px;
}

#id_settings {
	margin-left: 280px;
}

/* Logo - Header */
.cs_header_logo {
	margin-left: 50px;
	margin-top: 20px;
}

.cs_header_logo #id_header_logo { 
}

.cs_header_logo h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 24px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;	
}

.cs_header_logo p {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
NOTIFICATION BAR
*******************/
#id_notification_bar {
	position: fixed;
	top: 10px;
	left:20%;
	width:60%;
	height: 45px;
	background-color: #f3f3f3;
	box-shadow: 0px 8px 10px #666666;
	text-align: center;
	opacity: 0.9;
	border-radius: 4px;
}

#id_notification_bar h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 16px;
	line-height:16px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-top: 5px;
	margin-bottom: 5px;
}

#id_notification_bar p {
	margin-top: 3px;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);		
}


/*******************
LOGIN FORM
*******************/

.cs_form_login, .cs_form_signin {
	width: 220px;
	margin: 10px 10px 10px 50px;
	position: relative;
	z-index:5;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
LOGIN FORM HEADER
*******************/

.cs_form_login .cs_header_login,  .cs_form_signin .cs_header_signin {
	padding: 10px 10px 10px 10px;
}

.cs_form_login .cs_header_login h1, .cs_form_signin .cs_header_signin h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	line-height:18px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 5px;
}

.cs_form_login .cs_header_login span, .cs_form_signin .cs_header_signin span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
LOGIN and SINGIN FORM CONTENT
*******************/

.cs_form_login .cs_content_login, .cs_form_signin .cs_content_signin {
	padding: 0 15px 10px 25px;
}

/* Input field */
.cs_form_login .cs_content_login .cs_text_usermail,
.cs_form_login .cs_content_login .cs_text_password,
.cs_form_signin .cs_content_signin .cs_text_usermail,
.cs_form_signin .cs_content_signin .cs_text_password {
	width: 150px;
	padding: 10px 10px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.loggedin {
	background: #DDD !important;
}

/* Second input field */
.cs_form_login .cs_content_login .cs_text_password, 
.cs_form_login .cs_content_login .cs_pass_icon {
	margin-top: 5px;
}

.cs_form_login .cs_content_login .cs_text_usermail:hover,
.cs_form_login .cs_content_login .cs_text_password:hover, 
.cs_form_signin .cs_content_signin .cs_text_usermail:hover,
.cs_form_signin .cs_content_signin .cs_text_password:hover {
	background: #dfe9ec;
	color: #414848;
}

.cs_form_login .cs_content_login .cs_text_usermail:focus,
.cs_form_login .cs_content_login .cs_text_password:focus,
.cs_form_signin .cs_content_signin .cs_text_usermail:focus,
.cs_form_signin .cs_content_signin .cs_text_password:focus {
	background: #dfe9ec;
	color: #414848;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}


.cs_user_icon, .cs_pass_icon {
	width: 36px;
	height: 37px;
	display: block;
	position: absolute;
	left: 50px;
	padding-right: 2px;
	z-index: 3;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.cs_user_icon {
	top:130px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;	
}

.cs_pass_icon {
	top:182px;
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}

/* Animation */
.cs_text_usermail, .cs_text_password, .cs_user_icon, .cs_pass_icon,
.cs_button_login, .cs_button_register, .cs_button_signin_create, 
.cs_button_signin_cancel, .cs_button_logout {
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}


/*******************
LOGIN and SIGNIN FORM FOOTER
*******************/

.cs_form_login .cs_footer_login, 
.cs_form_signin .cs_footer_signin {
	padding: 10px 10px 10px 10px;
	overflow: auto;
	
	background: #d4dedf;
	border-top: 1px solid #fff;
	
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.cs_form_login .cs_footer_login .cs_button_login,
.cs_form_signin .cs_footer_signin .cs_button_signin_create {
	float:right;
	padding: 10px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.cs_form_signin .cs_footer_signin .cs_button_signin_cancel, 
.cs_form_login .cs_footer_login .cs_button_logout {
	padding: 10px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #E32727;
	border: 1px solid #C22323;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.cs_form_login .cs_footer_login .cs_button_login:hover, 
.cs_form_signin .cs_footer_signin .cs_button_signin_create:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.cs_form_signin .cs_footer_signin .cs_button_signin_cancel:hover,
.cs_form_login .cs_footer_login .cs_button_logout:hover {
	background: #BF2424;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);	
}

.cs_form_login .cs_footer_login .cs_button_login:focus,
.cs_form_signin .cs_footer_signin .cs_button_signin_create:focus{
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Register button */
.cs_form_login .cs_footer_login .cs_button_register {
	display: block;
	float: left;
	padding: 10px;
	margin-right: 20px;
	
	background: none;
	border: none;
	cursor: pointer;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.cs_form_login .cs_footer_login .cs_button_register:hover {
	color: #3f9db8;
}

.cs_form_login .cs_footer_login .cs_button_register:focus {
	position: relative;
	bottom: -1px;
}


/*******************
SETINGS DIV
*******************/
.cs_settings {
	width: 600px;
	margin: 10px 10px 10px 50px;
	padding: 10px 10px 10px 10px;

	position: relative;
	z-index:5;
	
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.cs_settings_accounts {

}

.cs_settings_publishing {

}

.cs_settings_templates {

}

.cs_settings h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	line-height:18px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-top: 5px;
	margin-bottom: 10px;
}

.cs_settings h2 {
	font_family: 'Bree Serif', serif;
	font-weight: 250;
	font-size: 15px;
	line-height: 15px;
	color: #414848;
	margin-left: 10px;
	margin-top: 20px;
}

.cs_settings h3 {
	font_family: 'Bree Serif', serif;
	font-weight: 250;
	font-size: 12px;
	line-height: 12px;
	color: #414848;
	margin-left: 10px;
	margin-top: 10px;
}

.cs_settings label {
	font_family: 'Bree Serif', serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: 800;
	width: 100px;
	display: inline-block;
	text-align: right;
}

.cs_settings .cs_text_settings {
	padding: 2px 2px;

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

.cs_settings input[disabled] {
	background: #DDD !important;
}

.cs_settings form {
	margin-left: 20px;
}

.cs_settings button {
	padding: 1px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 4px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.cs_settings button[disabled] {
	background: #DDD;
	border: 1px solid #CCC;
}

.cs_settings p {
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);	
}

/*******************
FOOTER
*******************/
footer {
	margin-left: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}

footer #id_footer_line {
	width: 900px;
	height: 1px;
	background-color: #678889;
}

footer p {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);	
	padding: 0px 0px 5px 0px;
}